.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.app h1 {
  margin: 0;
}

.add-todo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.add-todo-section button {
  padding: 0.3em 0.9em;
  min-height: 2rem;
}
